.categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.categoriasNameH3{
    font-size: 35px;
    color: white;
}
.TodosLosJuegos:hover{
    text-decoration: none;
}
.linkCategorias:hover{
    text-decoration: none;
}
.linkCategorias::before{
    content: attr(data-number);
    position: relative !important;
    top: 37px;
    left: -33%;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; /* Adjust the padding for circle size */
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Must be the same as width for a perfect circle */
    border-radius: 50%; /* This creates the circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont::before{
    content: attr(data-number);
    position: relative !important;
    top: 37px;
    left: -33%;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; /* Adjust the padding for circle size */
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Must be the same as width for a perfect circle */
    border-radius: 50%; /* This creates the circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.categoriaDiv, .imagenCategoria{
    border-radius: 10px; /* Bordes redondeados */
}
.categoriaDiv:hover {
    transform: scale(1.05); /* Efecto de agrandar al pasar el cursor */
}
.categoriaDiv{
    transition: transform 0.2s; /* Animación para el hover */
}

.categoriaIconos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 175px;
    color: white;
    height: 8%;
    border-radius: 15px;
    background-color: #686868; /* Color de fondo */
    transition: color 1s; /* Animación para el hover */
}
.categoriaIconos:hover{
    background-color: #969696; /* Color de fondo */
    transition: transform 0.2s; /* Animación para el hover */
}
.Star:hover{
    color: rgb(255, 240, 104);

}
.List:hover{
    color: seagreen;

}